main {
    margin-top: 100px;
    margin-left: 5em;
    margin-right: 5em;
    font-family: sans-serif;
}

a, a:link, a:visited {
    text-decoration: none;
    color: black;
}

nav.top-nav {
    background-color: rgb(255, 255, 255, 0.9);
    /* make the navbar always at the top of the screen (even after
    scrolling), get rid of whitespace--have it go the length of the screen */
    /* position: relative; would set the position relative to the rest
    of the html page. You can use negative values!*/
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 4px 4px #0003;
    padding-left: 2em;
    padding-right: 2em;
    font-family: sans-serif;
    z-index: 1;
}

.nav-container {
    user-select: none;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* space divs evenly, spanning entire width of container */
    justify-content: space-between;
}

.nav-name {
    font-size: 24px;
    margin: 5px;
}

.menu-items {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials {
    padding: 5px;
}
.socials a i {
    padding: 3px;
}

nav.top-nav ul {
    list-style: none;
    padding: 0;
}

nav.top-nav li {
    font-weight: bold;
    color: black;
    margin: 5px;
    /*sets to horizontal. block allows us to set width and height  */
    display: inline-block; 
    padding: 5px;
    /*prevents the text selection of the menu (when you click and drag and 
    highlight text) */
    position: relative;
}

nav.top-nav li:hover {
    text-decoration: underline;
}

nav.top-nav li:active{
    color: #fff
}

.intro-container {
    /* dimensions are 3372x1339 -> 0.3971 */
    background-image: url("img/intro.jpg");
    background-size: cover;
    height: 520px;
    position: relative;
    display: flex;
    align-items: center;
}

.intro-text {
    position: relative;
    top: -15px;
    margin: 50px;
    width: 40%;
}

.intro-text h1 {
    font-size: 40px;
}
#projects {
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 30px;
    
}
#projects h1 {
    font-size: 32px;
}

.project-entry-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.project-entry-text {
    text-align: left;
    width: 400px;
    padding: 5px;
}

.project-entry-text a:hover {
    color: grey;
}
.project-entry-img {
    height: 300px;
    width: 560px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #0003;
}
.project-entry-img img{
    border-radius: 15px;
    height: 300px;
    width: 560px;
}
